.navabar{
    position: fixed;
    top: 0;
    width: 98.75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #13253F;
    color:rgb(254, 254, 254);
    box-shadow: 0px 8px 6px rgb(0, 0, 0, 0.2);
    z-index: 5;
}

#webname{
    font-size: 16px;
    font-family: 'Volkov', serif;
    font-weight: 600;
    font-style: italic;
    margin-left: 16px;
}

#hamburger{
    display: none;
    font-size: 26px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

#nav-ul{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: 20px;
    padding: 0px 12px;
}

#nav-ul li{
    color: transparent;
}

.nav-link{
    text-decoration: none;
    color: aliceblue;
}

.nav-link:hover{
    color: #FFDA32;
    text-decoration: underline;
}

.button{
    padding: 6px 12px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    color: #13253F;
    background-color: #FFDA32;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s ease;
}

.button:hover{
    background-color: #e6c200;
    transform: scale(1.05);
}

@media(max-width: 480px){

    .navabar{
        width: 96.5%;
    }


    #hamburger{
        display: block;
    }

    #links{
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 60%;
        background-color: #13253F;
        border-radius: 8px;
        box-shadow: 8px 12px 16px rgb(0, 0, 0, 0.2);
        text-align: center;
        padding: 10px 0;
    }

    #links.open{
        display: block;
    }

    #links:hover{
        background-color: rgb(19, 37, 63, 0.9);
    }

    #nav-ul{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}